.systemTrayMessageListView {
    -fx-focus-traversable: false;
    -fx-border-color: white;
}

.systemTrayMessageListView:focused {
    -fx-background-color: white;
}

.systemTrayMessageListView .list-cell {
    -fx-padding: 0px;
    -fx-background-color: white;
}

.systemTrayMessageListView .list-cell:hover {
    -fx-background-color: #ebebeb;
}

.systemTrayMessageListView .list-cell:selected {
    -fx-background-color: white;
}

.systemTrayMessageListView .list-cell:empty {
    -fx-background-color: white;
}

.systemTrayMessageListView .scroll-bar:horizontal {
    -fx-scale-y: 0;
    -fx-pref-height: 0;
}

.systemTrayMessageListView .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-pref-width: 0;
}