.jfx-text-field {
    -jfx-focus-color: #4059A9;
    -jfx-unfocus-color: #4d4d4d;
    -fx-padding: 0.333333em 0 0.333333em 0;
}

.jfx-text-field > .input-line {
    -fx-background-color: -jfx-unfocus-color;
    -fx-pref-height: 1px;
    -fx-translate-y: 1px;
}

.jfx-text-field > .input-focused-line {
    -fx-background-color: -jfx-focus-color;
    -fx-pref-height: 2px;
}

.jfx-text-field,
.jfx-text-field:focused {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT;
    -fx-prompt-text-fill: #4D4D4D;
}

.jfx-text-field:error {
    -jfx-focus-color: #D34336;
    -jfx-unfocus-color: #D34336;
}

.jfx-text-field .error-label {
    -fx-text-fill: #D34336;
}

.jfx-text-field .error-icon {
    -fx-fill: #D34336;
}