
.jfx-decorator {
    /*-fx-decorator-color: derive(#1e90ff, -20%);*/
    -fx-decorator-color: #1e90ff;
}

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-decorator-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: WHITE;
    -fx-font-size: 16;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M134.1,54.2L134.1,88.7L114.3,68.8L87.9,120.5L105.9,22L134.1,54.2ZM87.9,211.8L87.9,177.3L107.7,197.2L134.1,145.5L116.2,244L87.9,211.8ZM189.8,156.2L155.3,156.2L175.2,136.3L123.5,109.9L222,127.9L189.8,156.2ZM32.2,109.9L66.7,109.9L46.8,129.8L98.5,156.1L0,138.2L32.2,109.9ZM183.1,93.6L158.7,118L158.7,89.9L103.5,107.8L185.8,50.9L183.1,93.6ZM38.9,172.4L63.3,148L63.3,176.1L118.5,158.2L36.2,215.1L38.9,172.4ZM150.3,205.1L126,180.7L154.1,180.7L136.2,125.5L193.1,207.9L150.3,205.1ZM71.6,60.9L96,85.3L67.9,85.3L85.8,140.5L28.8,58.2L71.6,60.9Z";
    -jfx-size: 15;
    -fx-background-color: WHITE;
}

.sideBox {
    -fx-background-color: dodgerblue;
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:hover {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-cell:hover .label {
    -fx-text-fill: black;
}

.jfx-list-cell:selected {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-ripple {
    -jfx-ripple-fill: #5264AE;
}

/* homePageIconContainer */
.homePageIconContainer > .ikonli-font-icon {
    -fx-icon-color: #FFFFFF;
    -fx-icon-size: 24;
}

.homePageIconContainer > .ikonli-font-icon:hover {
    -fx-icon-color: #EAEAEA;
}

/* conversation > conversationPane */
.conversationPane {
    -fx-background-insets: 0;
}

.conversationPane *.split-pane-divider, .conversationPane *.vertical-grabber, .conversationPane *.horizontal-grabber {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.conversationPane *.split-pane-divider, .vertical-grabber {
    -fx-pref-width: 2;
}

/* conversation > conversationListView */
.conversationListView {
    -fx-focus-traversable: false;
    -fx-border-color: white;
}

.conversationListView:focused {
    -fx-background-color: white;
}

.conversationListView .list-cell {
    -fx-padding: 0px;
    -fx-background-color: white;
}

.conversationListView .list-cell:hover {
    -fx-background-color: #ebebeb;
}

.conversationListView .list-cell:selected {
    -fx-background-color: #ebebeb;
}

.conversationListView .list-cell:empty {
    -fx-background-color: white;
}

.conversationListView .scroll-bar:horizontal {
    -fx-scale-y: 0;
    -fx-pref-height: 0;
}

.conversationListView .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-pref-width: 0;
}

/* conversation > conversationContainer */
.conversationContainer {
    /*-fx-border-color: green;*/
}

/* singleChatPane > nameLink */
.singleChatPane .nameLink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-text-fill: black;
}

/* singleChatPane > chatSplitPane */
.singleChatPane .chatSplitPane {
    -fx-background-insets: 0;
}

.singleChatPane .chatSplitPane *.split-pane-divider, .singleChatPane .chatSplitPane *.vertical-grabber, .singleChatPane .chatSplitPane *.horizontal-grabber {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* singleChatPane > messageListView */
.singleChatPane .messageListView {
    -fx-focus-traversable: false;
    -fx-border-color: white;
}

.singleChatPane .messageListView:focused {
    -fx-background-color: white;
}

.singleChatPane .messageListView .list-cell {
    -fx-padding: 0px;
    -fx-background-color: white;
}

.singleChatPane .messageListView .list-cell:hover {
    -fx-background-color: white;
}

.singleChatPane .messageListView .list-cell:selected {
    -fx-background-color: white;
}

.singleChatPane .messageListView .list-cell:empty {
    -fx-background-color: white;
}

.singleChatPane .messageListView .scroll-bar:horizontal {
    -fx-scale-y: 0;
    -fx-pref-height: 0;
}

.singleChatPane .messageListView .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-pref-width: 0;
}

/* singleChatPane > messageInputTextArea */
.singleChatPane .messageInputTextArea {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-border-color: white;
}

.singleChatPane .messageInputTextArea .content {
    -fx-background-color: white;
}

.singleChatPane .messageInputTextArea:focused .content {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
}

.singleChatPane .messageInputTextArea .scroll-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
}

.singleChatPane .messageInputTextArea .scroll-pane > .scroll-bar:vertical > .thumb {
    -fx-background-color: #eaeaea;
    -fx-scale-x: 0.5;
}

.singleChatPane .messageInputTextArea:hover .scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: #eaeaea;
}

.singleChatPane .messageInputTextArea .scroll-pane > .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: #eaeaea;
}

.singleChatPane .messageInputTextArea:hover .scroll-pane > .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: #eaeaea;
}

.singleChatPane .messageInputTextArea .scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #eaeaea;
}

.singleChatPane .messageInputTextArea:hover .scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #eaeaea;
}

.singleChatPane .messageSendBox {
    -fx-background-color: white;
}

/* groupChatPane > nameLink */
.groupChatPane .nameLink {
    -fx-border-color: transparent;
    -fx-padding: 4 0 4 0;
    -fx-text-fill: black;
}

/* groupChatPane > chatSplitPane */
.groupChatPane .chatSplitPane {
    -fx-background-insets: 0;
}

.groupChatPane .chatSplitPane *.split-pane-divider, .groupChatPane .chatSplitPane *.vertical-grabber, .groupChatPane .chatSplitPane *.horizontal-grabber {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* groupChatPane > messageListView */
.groupChatPane .messageListView {
    -fx-focus-traversable: false;
    -fx-border-color: white;
}

.groupChatPane .messageListView:focused {
    -fx-background-color: white;
}

.groupChatPane .messageListView .list-cell {
    -fx-padding: 0px;
    -fx-background-color: white;
}

.groupChatPane .messageListView .list-cell:hover {
    -fx-background-color: white;
}

.groupChatPane .messageListView .list-cell:selected {
    -fx-background-color: white;
}

.groupChatPane .messageListView .list-cell:empty {
    -fx-background-color: white;
}

.groupChatPane .messageListView .scroll-bar:horizontal {
    -fx-scale-y: 0;
    -fx-pref-height: 0;
}

.groupChatPane .messageListView .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-pref-width: 0;
}

/* groupChatPane > messageInputTextArea */
.groupChatPane .messageInputTextArea {
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-border-color: white;
}

.groupChatPane .messageInputTextArea .content {
    -fx-background-color: white;
}

.groupChatPane .messageInputTextArea:focused .content {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
}

.groupChatPane .messageInputTextArea .scroll-pane > .scroll-bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-background-color: white;
}

.groupChatPane .messageInputTextArea .scroll-pane > .scroll-bar:vertical > .thumb {
    -fx-background-color: #eaeaea;
    -fx-scale-x: 0.5;
}

.groupChatPane .messageInputTextArea:hover .scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: #eaeaea;
}

.groupChatPane .messageInputTextArea .scroll-pane > .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: #eaeaea;
}

.groupChatPane .messageInputTextArea:hover .scroll-pane > .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: #eaeaea;
}

.groupChatPane .messageInputTextArea .scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #eaeaea;
}

.groupChatPane .messageInputTextArea:hover .scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #eaeaea;
}

.groupChatPane .messageSendBox {
    -fx-background-color: white;
}

.groupChatPane .flexTextFlow {
    -fx-background-color: #eaeaea;
    -fx-text-fill: black;
    -fx-shape: "M356.874,173.287C356.874,173.287 372.071,160.074 371.815,149.617C371.558,139.16 372.418,220.125 372.418,220.125C372.418,220.125 372.95,212.839 358.152,203.868L356.874,173.287Z";
}

/* messageToolbox > icon */
.messageToolbox > .ikonli-font-icon {
    -fx-icon-color: #747272;
    -fx-icon-size: 20;
}

.messageToolbox > .ikonli-font-icon:hover {
    -fx-icon-color: black;
}

/* context-menu */
.context-menu {
    -fx-background-insets: 4;
    -fx-border-radius: 4;
    -fx-border-color: #ebebeb;
}

.context-menu > * > .menu-item {
    -fx-padding: 4 8 4 16;
    -fx-background-color: white;
    -fx-background-radius: 4;
    -fx-background-insets: 0 4 0 4;
}

.context-menu > * > .menu-item:hover {
    -fx-background-color: #ebebeb;
}

.context-menu .label {
    -fx-text-fill: black;
}

.context-menu .jfx-svg-glyph {
    -jfx-size: 12;
}

.check-menu-item:focused {
    -fx-focused-mark-color: black;
}

.jfx-tooltip {
    -fx-font-size: 12;
}

/* chart */
.chart {
    -fx-padding: 0px;
}

.chart-content {
    -fx-padding: 0px;
}

.axis-tick-mark,
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: TRANSPARENT;
}

.chart-bar {
    -fx-background-color: #69de01;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.data0.chart-bar {
    -fx-background-color: #69de01;
}

.data1.chart-bar {
    -fx-background-color: #69de01;
}

.data2.chart-bar {
    -fx-background-color: #69de01;
}

.data3.chart-bar {
    -fx-background-color: #69de01;
}

.data4.chart-bar {
    -fx-background-color: #69de01;
}

.data5.chart-bar {
    -fx-background-color: #69de01;
}

.data6.chart-bar {
    -fx-background-color: #69de01;
}

.data7.chart-bar {
    -fx-background-color: #69de01;
}

.data8.chart-bar {
    -fx-background-color: #75e101;
}

.data9.chart-bar {
    -fx-background-color: #75e101;
}

.data10.chart-bar {
    -fx-background-color: #75e101;
}

.data11.chart-bar {
    -fx-background-color: #75e101;
}

.data12.chart-bar {
    -fx-background-color: #75e101;
}

.data13.chart-bar {
    -fx-background-color: #75e101;
}

.data14.chart-bar {
    -fx-background-color: #75e101;
}

.data15.chart-bar {
    -fx-background-color: #75e101;
}

.data16.chart-bar {
    -fx-background-color: #86e701;
}

.data17.chart-bar {
    -fx-background-color: #86e701;
}

.data18.chart-bar {
    -fx-background-color: #86e701;
}

.data19.chart-bar {
    -fx-background-color: #86e701;
}

.data20.chart-bar {
    -fx-background-color: #86e701;
}

.data21.chart-bar {
    -fx-background-color: #86e701;
}

.data22.chart-bar {
    -fx-background-color: #86e701;
}

.data23.chart-bar {
    -fx-background-color: #86e701;
}

.data24.chart-bar {
    -fx-background-color: #9aee01;
}

.data25.chart-bar {
    -fx-background-color: #9aee01;
}

.data26.chart-bar {
    -fx-background-color: #9aee01;
}

.data27.chart-bar {
    -fx-background-color: #9aee01;
}

.data28.chart-bar {
    -fx-background-color: #9aee01;
}

.data29.chart-bar {
    -fx-background-color: #9aee01;
}

.data30.chart-bar {
    -fx-background-color: #9aee01;
}

.data31.chart-bar {
    -fx-background-color: #9aee01;
}

.data32.chart-bar {
    -fx-background-color: #b0f000;
}

.data33.chart-bar {
    -fx-background-color: #b0f000;
}

.data34.chart-bar {
    -fx-background-color: #b0f000;
}

.data35.chart-bar {
    -fx-background-color: #b0f000;
}

.data36.chart-bar {
    -fx-background-color: #b0f000;
}

.data37.chart-bar {
    -fx-background-color: #b0f000;
}

.data38.chart-bar {
    -fx-background-color: #b0f000;
}

.data39.chart-bar {
    -fx-background-color: #b0f000;
}

.data40.chart-bar {
    -fx-background-color: #c6f000;
}

.data41.chart-bar {
    -fx-background-color: #c6f000;
}

.data42.chart-bar {
    -fx-background-color: #c6f000;
}

.data43.chart-bar {
    -fx-background-color: #c6f000;
}

.data44.chart-bar {
    -fx-background-color: #c6f000;
}

.data45.chart-bar {
    -fx-background-color: #c6f000;
}

.data46.chart-bar {
    -fx-background-color: #c6f000;
}

.data47.chart-bar {
    -fx-background-color: #c6f000;
}

.data48.chart-bar {
    -fx-background-color: #dbf000;
}

.data49.chart-bar {
    -fx-background-color: #dbf000;
}

.data50.chart-bar {
    -fx-background-color: #dbf000;
}

.data51.chart-bar {
    -fx-background-color: #dbf000;
}

.data52.chart-bar {
    -fx-background-color: #dbf000;
}

.data53.chart-bar {
    -fx-background-color: #dbf000;
}

.data54.chart-bar {
    -fx-background-color: #dbf000;
}

.data55.chart-bar {
    -fx-background-color: #dbf000;
}

.data56.chart-bar {
    -fx-background-color: #edf000;
}

.data57.chart-bar {
    -fx-background-color: #edf000;
}

.data58.chart-bar {
    -fx-background-color: #edf000;
}

.data59.chart-bar {
    -fx-background-color: #edf000;
}

.data60.chart-bar {
    -fx-background-color: #edf000;
}

.data61.chart-bar {
    -fx-background-color: #edf000;
}

.data62.chart-bar {
    -fx-background-color: #edf000;
}

.data63.chart-bar {
    -fx-background-color: #edf000;
}

.data64.chart-bar {
    -fx-background-color: #fbf002;
}

.data65.chart-bar {
    -fx-background-color: #fbf002;
}

.data66.chart-bar {
    -fx-background-color: #fbf002;
}

.data67.chart-bar {
    -fx-background-color: #fbf002;
}

.data68.chart-bar {
    -fx-background-color: #fbf002;
}

.data69.chart-bar {
    -fx-background-color: #fbf002;
}

.data70.chart-bar {
    -fx-background-color: #fbf002;
}

.data71.chart-bar {
    -fx-background-color: #fbf002;
}

.data72.chart-bar {
    -fx-background-color: #ffe500;
}

.data73.chart-bar {
    -fx-background-color: #ffe500;
}

.data74.chart-bar {
    -fx-background-color: #ffe500;
}

.data75.chart-bar {
    -fx-background-color: #ffe500;
}

.data76.chart-bar {
    -fx-background-color: #ffe500;
}

.data77.chart-bar {
    -fx-background-color: #ffe500;
}

.data78.chart-bar {
    -fx-background-color: #ffe500;
}

.data79.chart-bar {
    -fx-background-color: #ffe500;
}

.data80.chart-bar {
    -fx-background-color: #ffca00;
}

.data81.chart-bar {
    -fx-background-color: #ffca00;
}

.data82.chart-bar {
    -fx-background-color: #ffca00;
}

.data83.chart-bar {
    -fx-background-color: #ffca00;
}

.data84.chart-bar {
    -fx-background-color: #ffca00;
}

.data85.chart-bar {
    -fx-background-color: #ffca00;
}

.data86.chart-bar {
    -fx-background-color: #ffca00;
}

.data87.chart-bar {
    -fx-background-color: #ffca00;
}

.data88.chart-bar {
    -fx-background-color: #ffa700;
}

.data89.chart-bar {
    -fx-background-color: #ffa700;
}

.data90.chart-bar {
    -fx-background-color: #ffa700;
}

.data91.chart-bar {
    -fx-background-color: #ffa700;
}

.data92.chart-bar {
    -fx-background-color: #ffa700;
}

.data93.chart-bar {
    -fx-background-color: #ffa700;
}

.data94.chart-bar {
    -fx-background-color: #ffa700;
}

.data95.chart-bar {
    -fx-background-color: #ffa700;
}

.data96.chart-bar {
    -fx-background-color: #ff8100;
}

.data97.chart-bar {
    -fx-background-color: #ff8100;
}

.data98.chart-bar {
    -fx-background-color: #ff8100;
}

.data99.chart-bar {
    -fx-background-color: #ff8100;
}

.data100.chart-bar {
    -fx-background-color: #ff8100;
}

.data101.chart-bar {
    -fx-background-color: #ff8100;
}

.data102.chart-bar {
    -fx-background-color: #ff8100;
}

.data103.chart-bar {
    -fx-background-color: #ff8100;
}

.data104.chart-bar {
    -fx-background-color: #ff5900;
}

.data105.chart-bar {
    -fx-background-color: #ff5900;
}

.data106.chart-bar {
    -fx-background-color: #ff5900;
}

.data107.chart-bar {
    -fx-background-color: #ff5900;
}

.data108.chart-bar {
    -fx-background-color: #ff5900;
}

.data109.chart-bar {
    -fx-background-color: #ff5900;
}

.data110.chart-bar {
    -fx-background-color: #ff5900;
}

.data111.chart-bar {
    -fx-background-color: #ff5900;
}

.data112.chart-bar {
    -fx-background-color: #ff3400;
}

.data113.chart-bar {
    -fx-background-color: #ff3400;
}

.data114.chart-bar {
    -fx-background-color: #ff3400;
}

.data115.chart-bar {
    -fx-background-color: #ff3400;
}

.data116.chart-bar {
    -fx-background-color: #ff3400;
}

.data117.chart-bar {
    -fx-background-color: #ff3400;
}

.data118.chart-bar {
    -fx-background-color: #ff3400;
}

.data119.chart-bar {
    -fx-background-color: #ff3400;
}

.data120.chart-bar {
    -fx-background-color: #ff1600;
}

.data121.chart-bar {
    -fx-background-color: #ff1600;
}

.data122.chart-bar {
    -fx-background-color: #ff1600;
}

.data123.chart-bar {
    -fx-background-color: #ff1600;
}

.data124.chart-bar {
    -fx-background-color: #ff1600;
}

.data125.chart-bar {
    -fx-background-color: #ff1600;
}

.data126.chart-bar {
    -fx-background-color: #ff1600;
}

.data127.chart-bar {
    -fx-background-color: #ff1600;
}

/* addressBook > addressBookPane */
.addressBookPane {
    -fx-background-insets: 0;
}

.addressBookPane *.split-pane-divider, .addressBookPane *.vertical-grabber, .addressBookPane *.horizontal-grabber {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.addressBookPane *.split-pane-divider, .vertical-grabber {
    -fx-pref-width: 2;
}

/* addressBookPane > friendTreeView */
.friendTreeView {
    -fx-focus-traversable: false;
    -fx-border-color: white;
}

.friendTreeView .tree-cell {
    -fx-background-color: white;
}

.friendTreeView .tree-cell:hover {
    -fx-background-color: #eaeaea;
}

.friendTreeView .tree-cell:selected {
    -fx-background-color: #eaeaea;
}

.friendTreeView .tree-cell:empty {
    -fx-background-color: white;
}

.friendTreeView .scroll-bar {
    -fx-background-color: white;
}

.friendTreeView .corner {
    -fx-background-color: white;
}

.friendTreeView .scroll-bar:horizontal > .thumb {
    -fx-background-color: white;
    -fx-scale-y: 0.5;
}

.friendTreeView .scroll-bar:vertical > .thumb {
    -fx-background-color: white;
    -fx-scale-x: 0.5;
}

.friendTreeView:hover .scroll-bar > .thumb {
    -fx-background-color: #eaeaea;
}

.friendTreeView .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: white;
}

.friendTreeView:hover .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: #eaeaea;
}

.friendTreeView .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: white;
}

.friendTreeView:hover .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: #eaeaea;
}
