.flyleaf {
    -fx-background-color: #8d7ac7;
}

.jfx-tooltip {
    -fx-font-size: 12;
}

.generalLoginBox,
.passwordContainer,
.verificationCodeContainer,
.qrLoginBox {
    -fx-background-color: white;
}

.generaLoginTypeChooseContainer .ikonli-font-icon {
    -fx-icon-color: #747272;
    -fx-icon-size: 48;
}

.qrCodeIconContainer .ikonli-font-icon:hover {
    -fx-icon-color: black;
}

.qrCodeIconContainer .ikonli-font-icon {
    -fx-icon-color: #747272;
    -fx-icon-size: 24;
}

.generaLoginTypeChooseContainer .ikonli-font-icon:hover {
    -fx-icon-color: black;
}

.qrLoginPromptLabel .hyperlink {
    -fx-border-color: transparent;
    -fx-text-fill: dodgerblue;
}

.qrLoginPromptLabel .hyperlink:hover {
    -fx-underline: false;
}

.qrLoginPromptLabel .hyperlink:visited {
    -fx-underline: false;
}


/* ------------------ */

.login-progress-bar > .bar {
    -fx-background-color: #ff8000;
    -fx-padding: 6;
}

.login-progress-bar > .secondary-bar {
    -fx-background-color: rgba(255, 135, 21, 0.18);
}

.combo-box .combo-box-selected-value-container {
    /*-fx-border-color:BLACK;*/
    /*-fx-background-color: red;*/
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:hover {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-cell:hover .label {
    -fx-text-fill: black;
}

.jfx-list-cell:selected {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-ripple {
    -jfx-ripple-fill: #5264AE;
}

